### Install libs & import

In [2]:
# !pip install polars

In [3]:
import polars as pl
import numpy as np
import matplotlib.pyplot as plt

### Read data

In [5]:
df = pl.read_csv('data.csv')
df.head()

shape: (5, 21)
┌─────────────┬─────────────┬─────────────┬───────┬───┬───────────┬────────────┬─────────┬─────────┐
│ productcate ┆ productsubc ┆ saleterrito ┆ zip   ┆ … ┆ Territory ┆ State_dupl ┆ StateCD ┆ City_y  │
│ gory        ┆ ategory     ┆ ry          ┆ ---   ┆   ┆ ---       ┆ icated_0   ┆ ---     ┆ ---     │
│ ---         ┆ ---         ┆ ---         ┆ i64   ┆   ┆ str       ┆ ---        ┆ str     ┆ str     │
│ str         ┆ str         ┆ str         ┆       ┆   ┆           ┆ str        ┆         ┆         │
╞═════════════╪═════════════╪═════════════╪═══════╪═══╪═══════════╪════════════╪═════════╪═════════╡
│ Clothing    ┆ Caps        ┆ Northwest   ┆ 82601 ┆ … ┆ Casper    ┆ Wyoming    ┆ WY      ┆ Natrona │
│ Clothing    ┆ Caps        ┆ Northwest   ┆ 98104 ┆ … ┆ Seattle   ┆ Washington ┆ WA      ┆ King    │
│ Components  ┆ Mountain    ┆ Northwest   ┆ 98371 ┆ … ┆ Puyallup  ┆ Washington ┆ WA      ┆ Pierce  │
│             ┆ Frames      ┆             ┆       ┆   ┆           ┆            ┆         ┆         │
│ Clothing    ┆ Jerseys     ┆ Northwest   ┆ 82601 ┆ … ┆ Casper    ┆ Wyoming    ┆ WY      ┆ Natrona │
│ Clothing    ┆ Jerseys     ┆ Northwest   ┆ 98104 ┆ … ┆ Seattle   ┆ Washington ┆ WA      ┆ King    │
└─────────────┴─────────────┴─────────────┴───────┴───┴───────────┴────────────┴─────────┴─────────┘

In [6]:
df.describe

<bound method DataFrame.describe of shape: (38_802, 21)
┌────────────┬────────────┬────────────┬───────┬───┬───────────┬────────────┬─────────┬────────────┐
│ productcat ┆ productsub ┆ saleterrit ┆ zip   ┆ … ┆ Territory ┆ State_dupl ┆ StateCD ┆ City_y     │
│ egory      ┆ category   ┆ ory        ┆ ---   ┆   ┆ ---       ┆ icated_0   ┆ ---     ┆ ---        │
│ ---        ┆ ---        ┆ ---        ┆ i64   ┆   ┆ str       ┆ ---        ┆ str     ┆ str        │
│ str        ┆ str        ┆ str        ┆       ┆   ┆           ┆ str        ┆         ┆            │
╞════════════╪════════════╪════════════╪═══════╪═══╪═══════════╪════════════╪═════════╪════════════╡
│ Clothing   ┆ Caps       ┆ Northwest  ┆ 82601 ┆ … ┆ Casper    ┆ Wyoming    ┆ WY      ┆ Natrona    │
│ Clothing   ┆ Caps       ┆ Northwest  ┆ 98104 ┆ … ┆ Seattle   ┆ Washington ┆ WA      ┆ King       │
│ Components ┆ Mountain   ┆ Northwest  ┆ 98371 ┆ … ┆ Puyallup  ┆ Washington ┆ WA      ┆ Pierce     │
│            ┆ Frames     ┆            ┆       ┆   ┆           ┆            ┆         ┆            │
│ Clothing   ┆ Jerseys    ┆ Northwest  ┆ 82601 ┆ … ┆ Casper    ┆ Wyoming    ┆ WY      ┆ Natrona    │
│ Clothing   ┆ Jerseys    ┆ Northwest  ┆ 98104 ┆ … ┆ Seattle   ┆ Washington ┆ WA      ┆ King       │
│ …          ┆ …          ┆ …          ┆ …     ┆ … ┆ …         ┆ …          ┆ …       ┆ …          │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 30030 ┆ … ┆ Decatur   ┆ Georgia    ┆ GA      ┆ DeKalb     │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 33127 ┆ … ┆ Miami     ┆ Florida    ┆ FL      ┆ Miami-Dade │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 30030 ┆ … ┆ Decatur   ┆ Georgia    ┆ GA      ┆ DeKalb     │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 30030 ┆ … ┆ Decatur   ┆ Georgia    ┆ GA      ┆ DeKalb     │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 33127 ┆ … ┆ Miami     ┆ Florida    ┆ FL      ┆ Miami-Dade │
└────────────┴────────────┴────────────┴───────┴───┴───────────┴────────────┴─────────┴────────────┘>

In [7]:
df.shape

(38802, 21)

### Expression syntax

In [8]:
df.columns

['productcategory',
 'productsubcategory',
 'saleterritory',
 'zip',
 'State',
 'Customer',
 'Employee',
 'OrderCount',
 'OrderDate',
 'StandardCost',
 'UnitPrice',
 'ListPrice',
 'SaleswithStandard',
 'NetSales',
 'OrderQuantity',
 'Sales',
 'Country_y',
 'Territory',
 'State_duplicated_0',
 'StateCD',
 'City_y']

In [9]:
#df.select('productcategory')
df.select('productcategory').unique()

shape: (4, 1)
┌─────────────────┐
│ productcategory │
│ ---             │
│ str             │
╞═════════════════╡
│ Bikes           │
│ Accessories     │
│ Components      │
│ Clothing        │
└─────────────────┘

In [10]:
df.select('productcategory','productsubcategory')

shape: (38_802, 2)
┌─────────────────┬────────────────────┐
│ productcategory ┆ productsubcategory │
│ ---             ┆ ---                │
│ str             ┆ str                │
╞═════════════════╪════════════════════╡
│ Clothing        ┆ Caps               │
│ Clothing        ┆ Caps               │
│ Components      ┆ Mountain Frames    │
│ Clothing        ┆ Jerseys            │
│ Clothing        ┆ Jerseys            │
│ …               ┆ …                  │
│ Clothing        ┆ Shorts             │
│ Clothing        ┆ Shorts             │
│ Clothing        ┆ Shorts             │
│ Clothing        ┆ Shorts             │
│ Clothing        ┆ Shorts             │
└─────────────────┴────────────────────┘

In [11]:
df.select(pl.sum('Sales'),
          pl.col("productcategory").sort(),
    )

shape: (38_802, 2)
┌──────────┬─────────────────┐
│ Sales    ┆ productcategory │
│ ---      ┆ ---             │
│ f64      ┆ str             │
╞══════════╪═════════════════╡
│ 5.3603e7 ┆ Accessories     │
│ 5.3603e7 ┆ Accessories     │
│ 5.3603e7 ┆ Accessories     │
│ 5.3603e7 ┆ Accessories     │
│ 5.3603e7 ┆ Accessories     │
│ …        ┆ …               │
│ 5.3603e7 ┆ Components      │
│ 5.3603e7 ┆ Components      │
│ 5.3603e7 ┆ Components      │
│ 5.3603e7 ┆ Components      │
│ 5.3603e7 ┆ Components      │
└──────────┴─────────────────┘

In [12]:
#df.filter(pl.col("Sales")>=200)
df.filter(pl.col("OrderQuantity").is_between(2,5))

shape: (23_308, 21)
┌────────────┬────────────┬────────────┬───────┬───┬────────────┬────────────┬─────────┬───────────┐
│ productcat ┆ productsub ┆ saleterrit ┆ zip   ┆ … ┆ Territory  ┆ State_dupl ┆ StateCD ┆ City_y    │
│ egory      ┆ category   ┆ ory        ┆ ---   ┆   ┆ ---        ┆ icated_0   ┆ ---     ┆ ---       │
│ ---        ┆ ---        ┆ ---        ┆ i64   ┆   ┆ str        ┆ ---        ┆ str     ┆ str       │
│ str        ┆ str        ┆ str        ┆       ┆   ┆            ┆ str        ┆         ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪════════════╪════════════╪═════════╪═══════════╡
│ Clothing   ┆ Caps       ┆ Northwest  ┆ 82601 ┆ … ┆ Casper     ┆ Wyoming    ┆ WY      ┆ Natrona   │
│ Clothing   ┆ Caps       ┆ Northwest  ┆ 98104 ┆ … ┆ Seattle    ┆ Washington ┆ WA      ┆ King      │
│ Clothing   ┆ Jerseys    ┆ Northwest  ┆ 82601 ┆ … ┆ Casper     ┆ Wyoming    ┆ WY      ┆ Natrona   │
│ Clothing   ┆ Jerseys    ┆ Northwest  ┆ 98104 ┆ … ┆ Seattle    ┆ Washington ┆ WA      ┆ King      │
│ Clothing   ┆ Jerseys    ┆ Northwest  ┆ 98366 ┆ … ┆ Port       ┆ Washington ┆ WA      ┆ Kitsap    │
│            ┆            ┆            ┆       ┆   ┆ Orchard    ┆            ┆         ┆           │
│ …          ┆ …          ┆ …          ┆ …     ┆ … ┆ …          ┆ …          ┆ …       ┆ …         │
│ Bikes      ┆ Touring    ┆ Southeast  ┆ 34205 ┆ … ┆ Bradenton  ┆ Florida    ┆ FL      ┆ Manatee   │
│            ┆ Bikes      ┆            ┆       ┆   ┆            ┆            ┆         ┆           │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 37801 ┆ … ┆ Maryville  ┆ Tennessee  ┆ TN      ┆ Blount    │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 30030 ┆ … ┆ Decatur    ┆ Georgia    ┆ GA      ┆ DeKalb    │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 30030 ┆ … ┆ Decatur    ┆ Georgia    ┆ GA      ┆ DeKalb    │
│ Clothing   ┆ Shorts     ┆ Southeast  ┆ 33127 ┆ … ┆ Miami      ┆ Florida    ┆ FL      ┆ Miami-Dad │
│            ┆            ┆            ┆       ┆   ┆            ┆            ┆         ┆ e         │
└────────────┴────────────┴────────────┴───────┴───┴────────────┴────────────┴─────────┴───────────┘

In [13]:
df.group_by(by='productcategory').agg(pl.col('Sales').sum().alias('total_sales'))

shape: (4, 2)
┌─────────────┬───────────────┐
│ by          ┆ total_sales   │
│ ---         ┆ ---           │
│ str         ┆ f64           │
╞═════════════╪═══════════════╡
│ Accessories ┆ 303515.225606 │
│ Clothing    ┆ 1.0374e6      │
│ Bikes       ┆ 4.4828e7      │
│ Components  ┆ 7.4339e6      │
└─────────────┴───────────────┘

### Query optimization in lazy eval

In [16]:
df_query = ( pl.scan_csv('data.csv')
           .filter(pl.col("Country_y") == "US")
           .select(["productcategory", "productsubcategory", "saleterritory", "Sales"])
           )

In [17]:
df_query.show_graph(optimized=False)

ImportError: The graphviz `dot` binary should be on your PATH.(If not installed you can download here: https://graphviz.org/download/)

In [14]:
df_query.show_graph(optimized=True)

In [15]:
df2 = df_query.collect()

In [16]:
df2.head()

shape: (5, 4)
┌─────────────────┬────────────────────┬───────────────┬──────────┐
│ productcategory ┆ productsubcategory ┆ saleterritory ┆ Sales    │
│ ---             ┆ ---                ┆ ---           ┆ ---      │
│ str             ┆ str                ┆ str           ┆ f64      │
╞═════════════════╪════════════════════╪═══════════════╪══════════╡
│ Clothing        ┆ Caps               ┆ Northwest     ┆ 15.5595  │
│ Clothing        ┆ Caps               ┆ Northwest     ┆ 10.373   │
│ Components      ┆ Mountain Frames    ┆ Northwest     ┆ 714.7043 │
│ Clothing        ┆ Jerseys            ┆ Northwest     ┆ 57.6808  │
│ Clothing        ┆ Jerseys            ┆ Northwest     ┆ 57.6808  │
└─────────────────┴────────────────────┴───────────────┴──────────┘